{% extends 'base.html' %}
{% from "macros.html" import render_form_field %}

{% block styles %}
{% endblock %}

{% block head_scripts %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Página de Recuperação de Senha</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ render_form_field(form.email) }}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary my-3") }}
            </div>
        </form>
    </div>
{% endblock %}

